html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  
  background-image: url('images/map-background.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  /* -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0); */
}


/* Center the container in the viewport */
#container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: grid;
  grid-template-columns: repeat(5, 10000px);
  grid-template-rows: repeat(5, 10000px);
  width: 50000px;
  height: 50000px;
  transform-origin: center center;
  transition: transform 0.1s ease-out;
}
